<div>
  <input
    [(ngModel)]="newAppointment.title"
    type="text"
    placeholder="Appointment name"
  />
  <input
    [(ngModel)]="newAppointment.date"
    type="date"
    placeholder="Appointment date"
  />
  <button (click)="addAppointment()">Add</button>
</div>

<ul>
  <li *ngFor="let appointment of appointments">
    {{ appointment.id }} {{ appointment.title }} -
    {{ appointment.date | date : "dd.MM.yyyy" }}
    <button (click)="removeAppointment(appointment.id)">remove</button>
  </li>
</ul>
